  .i-heading{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 58px;
  }
  .i-para{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    align-items: center;
    color: #505050;
  }